<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= title %></title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link rel="stylesheet" href="/stylesheets/tailwind.css" />
  <link rel="stylesheet" href="/fonts/css/all.css" />
  <link rel="stylesheet" href="/stylesheets/default.min.css" />

  <!-- <script
      src="https://kit.fontawesome.com/21474fdc13.js"
      crossorigin="anonymous"
    ></script> -->
</head>
