<nav class="bg-black text-white h-10 flex top-0 text-center w-auto">
  <div
    class="text-center text-lg uppercase justify-center align-middle flex flex-col m-auto"
  >
    Custom Node JS API
  </div>
  <a href="/" class="float-left mr-5 flex items-center">
    <i class="fa-solid fa-house"></i>
  </a>
</nav>
