node_modules
./node_modules/**
env
access.log
logs
.env
.log
*.log
req.log
config.json
basicController.js
approvalController.js
leavesController.js
controllers/oracle/approvalController.js
controllers/oracle/basicController.js
controllers/oracle/leaveController.js
video
./video/**

