<!DOCTYPE html>
<html lang="en">
  <%- include('../includes/header.ejs') %>
  <body>
    <%- include('../includes/navbar.ejs') %>
    <div class="container mx-auto">
      <div class="grid grid-cols-6 gap-4">
        <div class="col-span-3">
          <div class="px-4 py-5 bg-white space-y-6 sm:p-6">
            <div class="h-full overflow-auto">
              <div class="grid grid-cols-3 gap-3 m-2">
                <% for (item of file) { %>
                <div class="p-6 bg-orange-100 text-center">
                  <div class="flex items-start">
                    <div class="flex items-center">
                      <i class="fa-solid fa-file fa-3x"></i>
                    </div>
                    <div class="flex items-center p-3">
                      <a
                        href="download/<%= item %>"
                        class="underline"
                        style="word-break: break-all"
                        ><%= item %>
                        <span class="ml-2"
                          ><i class="fa-solid fa-download"></i></span
                      ></a>
                    </div>
                  </div>
                </div>
                <% } %>
              </div>
            </div>
          </div>
        </div>
        <div class="col-span-3">
          <div>
            <div class="md:grid md:grid-cols-3 md:gap-6">
              <div class="mt-5 md:mt-0 md:col-span-2">
                <form method="POST" enctype="multipart/form-data">
                  <div class="shadow sm:rounded-md sm:overflow-hidden">
                    <div class="px-4 py-5 bg-white space-y-6 sm:p-6">
                      <div class="grid grid-cols-3 gap-6">
                        <div class="col-span-3 sm:col-span-2">
                          <label
                            for="Your Name"
                            class="block text-sm font-medium text-gray-700"
                          >
                            Name
                          </label>
                          <div class="mt-1 flex rounded-md shadow-sm">
                            <span
                              class="form-control inline-flex items-center px-3 rounded-l-md border border-gray-300 bg-gray-50 text-gray-500 text-sm"
                            >
                              <span class="fa-solid fa-user"></span>
                            </span>
                            <input
                              name="username"
                              type="text"
                              class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                              id="username"
                              placeholder="Your Name"
                            />
                          </div>
                        </div>
                      </div>

                      <div>
                        <label
                          for="about"
                          class="block text-sm font-medium text-gray-700"
                        >
                          About
                        </label>
                        <div class="mt-1">
                          <textarea
                            class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                            id="exampleFormControlTextarea1"
                            rows="3"
                            placeholder="Your message"
                            name="about"
                          ></textarea>
                        </div>
                        <p class="mt-2 text-sm text-gray-500">
                          Brief description for your profile. URLs are
                          hyperlinked.
                        </p>
                      </div>

                      <div>
                        <label class="block text-sm font-medium text-gray-700">
                          Profile Photo
                        </label>
                        <div class="mt-1 flex items-center">
                          <span
                            class="inline-block h-12 w-12 rounded-full overflow-hidden bg-gray-100"
                          >
                            <svg
                              class="h-full w-full text-gray-300"
                              fill="currentColor"
                              viewBox="0 0 24 24"
                            >
                              <path
                                d="M24 20.993V24H0v-2.996A14.977 14.977 0 0112.004 15c4.904 0 9.26 2.354 11.996 5.993zM16.002 8.999a4 4 0 11-8 0 4 4 0 018 0z"
                              />
                            </svg>
                          </span>
                          <input
                            class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                            type="file"
                            id="formProfile"
                            name="formProfile"
                          />
                        </div>
                      </div>
                      <div class="">
                        <label class="block text-sm font-medium text-gray-700">
                          Technology
                        </label>
                        <div class="flex items-start">
                          <div class="form-check">
                            <label
                              class="form-check-label inline-block text-gray-800"
                              for="fronend"
                            >
                              <input
                                class="form-check-input h-4 w-4 border border-gray-300 rounded-sm bg-white checked:bg-blue-600 checked:border-blue-600 focus:outline-none transition duration-200 mt-1 align-top bg-no-repeat bg-center bg-contain float-left mr-2 cursor-pointer"
                                type="checkbox"
                                value="Y"
                                id="fronend"
                                name="fronend"
                              />
                              Front End
                            </label>
                          </div>
                          <div class="form-check ml-5">
                            <label
                              class="form-check-label inline-block text-gray-800"
                              for="backend"
                              ><input
                                class="form-check-input h-4 w-4 border border-gray-300 rounded-sm bg-white checked:bg-blue-600 checked:border-blue-600 focus:outline-none transition duration-200 mt-1 align-top bg-no-repeat bg-center bg-contain float-left mr-2 cursor-pointer"
                                type="checkbox"
                                value="R"
                                id="backend"
                                id="backend"
                              />
                              Back End
                            </label>
                          </div>
                        </div>
                      </div>

                      <div>
                        <label class="block text-sm font-medium text-gray-700">
                          Framework
                        </label>
                        <div class="mb-3 xl:w-96">
                          <select
                            class="form-select block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding bg-no-repeat border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                            aria-label="Choose One"
                            name="framework"
                          >
                            <option value="">Choose One</option>
                            <option value="angular">Angular</option>
                            <option value="django">Django</option>
                            <option value="laravel">Laravel</option>
                          </select>
                        </div>
                      </div>
                      <div></div>
                      <div>
                        <label class="block text-sm font-medium text-gray-700">
                          Resume
                        </label>
                        <div
                          class="mt-1 flex justify-center px-6 pt-5 pb-6 border-2 border-gray-300 border-dashed rounded-md"
                        >
                          <div class="space-y-1 text-center">
                            <svg
                              class="mx-auto h-12 w-12 text-gray-400"
                              stroke="currentColor"
                              fill="none"
                              viewBox="0 0 48 48"
                              aria-hidden="true"
                            >
                              <path
                                d="M28 8H12a4 4 0 00-4 4v20m32-12v8m0 0v8a4 4 0 01-4 4H12a4 4 0 01-4-4v-4m32-4l-3.172-3.172a4 4 0 00-5.656 0L28 28M8 32l9.172-9.172a4 4 0 015.656 0L28 28m0 0l4 4m4-24h8m-4-4v8m-12 4h.02"
                                stroke-width="2"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                              />
                            </svg>
                            <div class="flex text-sm text-gray-600">
                              <label
                                for="fileupload"
                                class="relative cursor-pointer bg-white rounded-md font-medium text-indigo-600 hover:text-indigo-500 focus-within:outline-none focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-indigo-500"
                              >
                                <span>Upload a file</span>
                                <input
                                  id="fileupload"
                                  name="fileupload"
                                  type="file"
                                  class="sr-only"
                                  multiple
                                />
                              </label>
                              <p class="pl-1">or drag and drop</p>
                            </div>
                            <p class="text-xs text-gray-500">
                              PNG, JPG, PDF up to 10MB
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="px-4 py-3 bg-gray-50 text-right sm:px-6">
                      <button
                        type="submit"
                        class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
                      >
                        Submit
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>

          <div class="hidden sm:block" aria-hidden="true">
            <div class="py-5">
              <div class="border-t border-gray-200"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
