<!DOCTYPE html>
<html lang="en">
  <%- include('includes/header.ejs') %>
  <body>
    <%- include('includes/navbar.ejs') %>
    <div class="container mx-auto">
      <a href="download/text.txt"><%= file %></a>
    </div>
  </body>
</html>
