<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/tailwind.css" />
    <link rel="stylesheet" href="/fonts/css/all.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    />
    <!-- <script
      src="https://kit.fontawesome.com/21474fdc13.js"
      crossorigin="anonymous"
    ></script> -->
  </head>
  <body>
    <nav class="bg-black text-white h-10 flex top-0 text-center w-auto">
      <div
        class="text-center text-lg uppercase justify-center align-middle flex flex-col m-auto"
      >
        Custom Node JS API
      </div>
    </nav>
    <div class="container mx-auto">
      <div
        class="grid md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 grid-cols-1 gap-6 m-10"
      >
        <a
          href="/git"
          class="hover:bg-lime-500 flex justify-center text-6xl border-2 border-gray-300 rounded-xl p-6 w-74 h-56 bg-lime-200"
        >
          <div class="flex items-center">
            <i class="fa-brands fa-github mr-3"></i> GitHub
          </div> </a
        ><a
          href="/jsonapi"
          class="flex justify-center text-6xl border-2 border-gray-300 rounded-xl p-6 w-74 h-56 bg-blue-200 hover:bg-blue-500"
        >
          <div class="flex items-center">
            <i class="fa-solid fa-code mr-3"></i>Json
          </div></a
        >
        <a
          href="/oracle"
          class="flex justify-center text-6xl border-2 border-gray-300 rounded-xl p-6 w-74 h-56 bg-orange-200 hover:bg-orange-500"
        >
          <div class="flex items-center mr-3">
            <i class="fa-solid fa-database mr-3"></i>Oracle
          </div></a
        >
        <a
          href="/mongo"
          class="flex justify-center text-6xl border-2 border-gray-300 rounded-xl p-6 w-74 h-56 bg-green-300 hover:bg-green-500"
        >
          <div class="flex items-center mr-3">
            <i class="fa-solid fa-seedling mr-3"></i>Mongo
          </div></a
        >
        <a
          href="/ftp"
          class="flex justify-center text-6xl border-2 border-gray-300 rounded-xl p-6 w-74 h-56 bg-sky-300 hover:bg-sky-500"
        >
          <div class="flex items-center mr-3">
            <i class="fa-solid fa-folder-open mr-3"></i>Ftp
          </div></a
        >
        <a
          href="/code"
          class="flex justify-center text-6xl border-2 border-gray-300 rounded-xl p-6 w-74 h-56 bg-violet-300 hover:bg-violet-500"
        >
          <div class="flex items-center mr-3">
            <i class="fa-solid fa-file mr-3"></i>Code
          </div></a
        >
        <a
          href="/stream"
          class="flex justify-center text-6xl border-2 border-gray-300 rounded-xl p-6 w-74 h-56 bg-teal-300 hover:bg-teal-500"
        >
          <div class="flex items-center mr-3">
            <i class="fa-solid fa-play mr-3"></i>Stream
          </div></a
        >
      </div>
    </div>
  </body>
</html>
