<!DOCTYPE html>
<html lang="en">
  <%- include('../includes/header.ejs') %>
  <body>
    <%- include('../includes/navbar.ejs') %>
    <div class="mx-4 my-2">
      <div class="w-full text-center text-lg">
        <h1 class="box-decoration-slice bg-pink-500 text-white px-2 w-full">
          CODE EDITOR
        </h1>
      </div>
      <div class="grid lg:grid-cols-2 gap-4">
        <div class="text-center Editor">
          <div class="flex flex-col">
            <div class="h-56">
              <label
                for="htmlLabel"
                class="form-label inline-block mb-2 text-gray-700 float-left"
                >HTML CODE</label
              >
              <textarea
                class="h-5/6 form-control language-html block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none resize-none"
                id="HtmlCode"
                placeholder="<html>..</html>"
              ></textarea>
            </div>
          </div>
          <div class="flex flex-col">
            <div class="h-56">
              <label
                for="cssLabel"
                class="form-label inline-block mb-2 text-gray-700 float-left"
                >CSS</label
              >
              <textarea
                class="h-5/6 form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none resize-none"
                id="CssCode"
                placeholder="Your Style"
              ></textarea>
            </div>
          </div>
          <div class="flex flex-col">
            <div class="h-52">
              <label
                for="ScriptLable"
                class="form-label inline-block mb-2 text-gray-700 float-left"
                >SCRIPT</label
              >
              <textarea
                class="h-5/6 form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none resize-none"
                id="JsCode"
                placeholder="Your script"
              ></textarea>
              <textarea style="display: none" id="common">
                (function () { var old = console.log; var logger =
                parent.window.document.getElementById("log");console.log = function
                (message) { if (typeof message == "object") { logger.innerHTML
                += (JSON && JSON.stringify ? JSON.stringify(message) : message)
                + "<br />"; } else { logger.innerHTML += message + "<br />"; }
                }; })();
              </textarea>
            </div>
          </div>
          <div class="flex flex-col m-5">
            <button
              type="button"
              onclick="run()"
              class="inline-block px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out"
            >
              Run
            </button>
          </div>
        </div>
        <div class="OutputArea">
          <div class="flex flex-col h-2/3">
            <div class="" style="height: 80%">
              <label
                for="OutputLabel"
                class="form-label inline-block mb-2 text-gray-700 float-left"
                >OUTPUT</label
              >
              <div class="w-full h-full inline-block border-2">
                <iframe
                  id="Output"
                  srcDoc=""
                  title="output"
                  frameBorder="1"
                  width="100%"
                  height="100%"
                ></iframe>
              </div>
            </div>
          </div>
          <div class="flex flex-col h-1/3">
            <div class="h-1/3" style="height: 80%">
              <label
                for="ConOutputLabel"
                class="form-label inline-block mb-2 text-gray-700 float-left"
                >CONSOLE OUTPUT</label
              >
              <div
                class="w-full inline-block h-52 border-2 bg-gray-600 text-cyan-50"
                id="logger"
              >
                <pre id="log"></pre>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript">
      function run() {
        let Htmlcode = document.querySelector(".Editor #HtmlCode").value;
        localStorage.setItem("HtmlCookie", Htmlcode);
        let Csscode =
          "<style>" +
          document.querySelector(".Editor #CssCode").value +
          "</style>";
        localStorage.setItem(
          "CssCookie",
          document.querySelector(".Editor #CssCode").value
        );
        let Jscode = document.querySelector(".Editor #JsCode").value;
        localStorage.setItem("JsCookie", Jscode);
        let Output = document.querySelector(".OutputArea #Output");
        // Output =          Output.contentWindow ||          Output.contentDocument.document ||           Output.contentDocument;
        //Output.postMessage(Htmlcode + Csscode, "http://127.0.0.1:3000");

        Output.contentDocument.body.innerHTML = Htmlcode + Csscode;
        // console.log(Output.contentWindow);
        Output.contentWindow.eval(
          Jscode + document.querySelector(".Editor #common").value
        );
        //Output.srcdoc = Htmlcode + Csscode;

        setTimeout(function () {
          show();
          // hljs.highlightAll();
        }, 2000);
      }

      document
        .querySelector(".Editor #HtmlCode")
        .addEventListener("onblur", run);
      document
        .querySelector(".Editor #CssCode")
        .addEventListener("onblur", run);
      document.querySelector(".Editor #JsCode").addEventListener("onblur", run);

      let show = function () {
        // var old = console.log;
        // var logger = document.getElementById("log");

        // console.log = function (message) {
        //   if (typeof message == "object") {
        //     logger.innerHTML +=
        //       (JSON && JSON.stringify ? JSON.stringify(message) : message) +
        //       "<br />";
        //   } else {
        //     logger.innerHTML += message + "<br />";
        //   }
        // };

        if (localStorage.getItem("HtmlCookie") != "") {
          document.querySelector(".Editor #HtmlCode").value =
            localStorage.getItem("HtmlCookie");
        }
        if (localStorage.getItem("CssCookie") != "") {
          document.querySelector(".Editor #CssCode").value =
            localStorage.getItem("CssCookie");
        }
        if (localStorage.getItem("JsCookie") != "") {
          document.querySelector(".Editor #JsCode").value =
            localStorage.getItem("JsCookie");
        }
      };
      show();

      (function () {
        var old = console.log;
        var logger = window.document.getElementById("log");
        console.log = function (message) {
          if (typeof message == "object") {
            logger.innerHTML +=
              (JSON && JSON.stringify ? JSON.stringify(message) : message) +
              "<br />";
          } else {
            logger.innerHTML += message + "<br />";
          }
        };
      })();
    </script>
  </body>
</html>
