<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Oracle API</title>
    <link rel="stylesheet" href="./bulma/bulma.min.css" />
    <link rel="stylesheet" href="./bootstrap-icons/bootstrap-icons.css" />
  </head>
  <body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="#">
          <img
            src="./icons/zend.svg"
            alt="zend"
            width="50"
            style="filter: invert(0.5) sepia(1) saturate(50) hue-rotate(160deg)"
          />
          <span
            style="
              font-size: 30px;
              font-weight: bold;
              color: rgb(0 209 178);
              text-decoration: none;
            "
            >FinPay</span
          >
        </a>

        <a
          role="button"
          class="navbar-burger"
          aria-label="menu"
          aria-expanded="false"
          data-target="navbarBasicExample"
        >
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbarBasicExample" class="navbar-menu"></div>
    </nav>
    <div class="container is-fluid">
      <div class="notification is-primary">
        This is sample oracle api server for testing purpose. Required oracle
        client configuration in your pc.
      </div>
      <div class="content">
        <ul>
          <li>
            <code>GET /api/</code>
            <p>Sample select query result</p>
            <pre>
          SELECT * FROM TEST WHERE SNO = 1;
            </pre>
          </li>
          <li>
            <code>GET /api/:id</code>
            <p>Sample select query result with where</p>
            <pre>
          SELECT * FROM TEST WHERE SNO = 1;
            </pre>
          </li>
        </ul>
      </div>
    </div>
  </body>
</html>
